@import-normalize;
@import 'buttons.css';
@import 'ingredient-list.css';
@import 'recipe-edit.css';
@import 'recipe-list.css';
@import 'recipe.css';
@import 'recipe-header.css';

*, *::before, *::after {
	box-sizing: border-box;
	font-family: "avenir-next", "Helvetica Neue", Arial, sans-serif;
}

html {
	font-size: 20px;
}

body {
	padding: 0;
	margin: 0;
	background-color: #FEF2DB;
}

.mr-1 {
	margin-right: .5rem;
}

.mb-1 {
	margin-bottom: .5rem;
}

@media all and (max-width:768px){
	html {
		font-size: 16px;
	}

	.mb-none {
		margin-bottom: 0 !important;
	}
}