.btn {
  padding: 16px 30px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.btn-primary {
  color: white;
  background-image:linear-gradient(to bottom, #FFB924,#FF8D02);
  box-shadow:0 5px 8px -.2rem rgba(255,141,2,0.5);
}

.btn-primary:hover {
  box-shadow:0 10px 10px -.2rem rgba(255,141,2,0.5);
  transform:translateY(-5px);
}

.btn-primary:focus {
  transform:translateY(0);
}

.btn-danger {
  color: white;
  background-image:linear-gradient(to bottom,rgb(111, 20, 238), rgb(81, 9, 216));
  box-shadow:0 5px 5px -.2rem rgba(81, 2, 216, 0.5);
}

.btn-danger:hover {
  box-shadow:0 10px 10px -.2rem rgba(81, 2, 216, 0.5);
  transform:translateY(-5px);
}

.btn-danger:focus {
  transform:translateY(0);
}