.recipe-edit {
	width: 50%;
	padding: 2%;
	float: right;
}

.recipe-edit * {
	max-width: 100%;
	overflow-x:hidden;
}

.recipe-edit_delete-btn-container {
	text-align: end;
}

.recipe-edit_delete-btn-container > button {
	font-size: 1.5rem;
}

.recipe-edit_ingredient-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	row-gap:20px;
	column-gap: 40px;
	font-size: 1.4rem;
	font-weight: 500;
}

.recipe-edit_label {
	font-size: 1.4rem;
	font-weight: 500;
}

.recipe-edit_input {
	padding: 6px 8px;
	font-size: inherit;
	border: 2px solid rgba(47, 47, 47, 0.5);
	border-radius: 6px;
	outline: none;
}

.recipe-edit_textarea {
	height: 150px;
	resize: none;
}

.recipe_edit-add-ingredient-grid {
	display: grid;	
	grid-template-columns: repeat(3, auto);
	grid-gap: 12px;
	padding: 1rem;
}

.recipe_edit_ingredient-heading {
	margin-left: 10px;
}

.recipe-edit_add-ingredient-btn-container {
	margin-top: 20px;
	text-align: center;
}