.recipe {
	padding: 20px;
	padding-bottom: 40px;
	margin-bottom: 1rem;
	box-shadow:0 .2rem .5rem 0.5px rgba(255, 185, 36,.6);
	border-radius: 20px;	
	background-color: #fff;
}

.recipe-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.recipe-title {
	margin: 20px 0;
	font-size: 1.75rem;
}

.recipe-row {
	line-height: 1.5rem;
	font-weight: 500;
	font-size: .9rem;
	color:rgb(96,103, 112);
}

.recipe-label {
	margin-right: 5px;
}

/* .recipe-value {
	font-weight: 300;	
} */

.recipe-value_indented {
	margin-left: 20px;
}

.recipe-value-instruction {
	white-space: pre-line;
}