.recipe {
	padding: 20px;
	padding-bottom: 40px;
	margin-bottom: 1rem;
	box-shadow:1px 4px 8px .5px rgba(47, 47, 47, 0.5);
	border-radius: 6px;	
}

.recipe-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.recipe-title {
	margin: 20px 0;
	font-size: 1.75rem;
}

.recipe-row {
	line-height: 30px;
	font-weight: 500;
	color:var(--font-secondary-clr);
}

.recipe-label {
	margin-right: 5px;
}

/* .recipe-value {
	font-weight: 300;	
} */

.recipe-value_indented {
	margin-left: 20px;
}

.recipe-value-instruction {
	white-space: pre-line;
}