.recipe-list {
	display: inline-block;
	width:50%;
	min-height: 100vh;
	padding: 2%;
}

.recipe-list_add-btn-container {
	padding-top:1rem;
	padding-bottom: 1rem;
	text-align: center; 
}

@media all and (max-width: 768px){
	.recipe-list {
		width: 100%;
	}
}