.recipe-edit {
	width: 50%;
	padding: 2%;
	position: fixed;
	top: 0;
	right: 0;
	max-height: 100%;
	overflow-y:auto; 
}

.recipe-edit * {
	max-width: 100%;
	overflow-x:hidden;
}

.recipe-edit_delete-btn-container {
	text-align: end;
}

.recipe-edit_delete-btn-container > button {
	font-size: 1.5rem;
}

.recipe-edit_ingredient-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	row-gap:20px;
	column-gap: 40px;
	padding-right: .5rem;
	padding-bottom: .5rem;
	font-size: 1.4rem;
	font-weight: 500;
}

.recipe-edit_label {
	font-size: 1.4rem;
	font-weight: 500;
}

.recipe-edit_input {
	padding: 6px 8px;
	font-size: inherit;
	border: none;
	border-radius: .5rem;
	box-shadow:0 .2rem .5rem 0.5px rgba(255, 185, 36,.6);
	outline: none;
}

.recipe-edit_textarea {
	height: 150px;
	resize: none;
}

.recipe_edit-add-ingredient-grid {
	display: grid;	
	grid-template-columns: repeat(3, auto);
	grid-gap: 12px;
	padding: 1rem .5rem;
}

.recipe_edit_ingredient-heading {
	margin-left: 10px;
}

.recipe-edit_add-ingredient-btn-container {
	padding: 1rem;
	text-align: center;
}


@media all and (max-width: 768px){
	
	.recipe-overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #FEF2DB;
	}

	.recipe-edit {
		width: 100%;
	}

}